{% extends 'manageRestaurant.html' %}

{% block content %}
<!-- BEGIN REGISTRATION FORM -->
<form class="restaurantAdd" action="/dashboard/addItems" method="post">
	<h3>Add Item</h3>

	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label"><b>Category's Name</b></label>
		<input class="form-control " type="text" autocomplete="off"
			placeholder="Enter Category" name="category" aria-hidden="true" />
    </div>
    
	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label"><b>Subcategory</b></label>
		<input class="form-control " type="text" autocomplete="off"
			placeholder="Enter subcategory" name="subcategory" />
	</div>

	<div class="form-group">
		<label class="control-label"><b>Item's Name</b></label>
		<input class="form-control " type="text" autocomplete="off"
			placeholder="Enter item" name="items" />
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary uppercase">Add Item</button>
	</div>

</form>
<!-- END REGISTRATION FORM -->

{% endblock %}