{% extends 'manageRestaurant.html' %}

{% block content %}
<!-- BEGIN REGISTRATION FORM -->
<form class="restaurantAdd" id="addRestaurant" action="/dashboard/addRestaurant" method="post">
	<h3>Add Restaurant</h3>

	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label"><b>Restaurant's Name</b></label>
		<input class="form-control " type="text" autocomplete="off"
			placeholder="Enter restaurant's name" name="name" aria-hidden="true" />
	</div>
	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label"><b>Email</b></label>
		<input class="form-control " type="email" autocomplete="off"
			placeholder="Enter email-address" name="email" />
	</div>

	<div class="form-group">
		<label class="control-label"><b>Phone number</b></label>
		<input class="form-control " type="number" autocomplete="off"
			placeholder="Enter phone number" name="phoneNumber" />
	</div>
	<div class="form-actions">

		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label"><b>Restaurant's address</b></label>
			<input class="form-control" type="text" autocomplete="off"
				placeholder="Enter restaurant's location" id="Address" name="address" />
				<input type="hidden" name="lang" id="long">
				<input type="hidden" name="lat" id="lat">
		</div>

		<button type="submit" class="btn btn-primary uppercase">Register</button>

	</div>

</form>
<!-- END REGISTRATION FORM -->

{% endblock %}