{% extends 'manageRestaurant.html' %}

{% block content %}

<div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <label>{{allData.restaurant}}</label>
                    </div>
                    <div class="desc">
                        Restaurants
                    </div>
                </div>
                <a class="more" href="/dashboard/manageRestaurant">
                    View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue-madison">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <label>{{allData.items}}</label>
                        </div>
                        <div class="desc">
                            Food Items Category
                        </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        
    </div>

{% endblock %}