<div>
    <table class="table" id="tables">

        <thead>
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Category</th>
                <th scope="col">Sub Category</th>
                <th scope="col">Item</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody >
            <!-- -->
            {% set index= allData.srNo+1%}

            {% for i in allData %}


            <td>{{index}}</td>
            <td>{{i.category}}</td>
            <td>{{i.subcategory}}</td>

            <td>
                <ul>{% for j in i.items %}


                    <li>{{j}}</li>

                    {% endfor %}
                </ul>
            </td>
            <td> <i class="fa fa-trash fa-2x removeItem" page="{{allData.current}}"
                    data-remove="/dashboard/delete/{{i.id}}"></i></td>
            </tr>
            {% set index=index+1 %}
            {% endfor %}


        </tbody>

    </table>

    {% if allData.count > 3  %}
    <div class="margin-top-20">
        <ul class="restaurantFoodList">
            {% include 'pagination.html' %}
        </ul>
    </div>
    {% endif %}

</div>