{% extends 'manageRestaurant.html' %}
{% block content %}

<!-- Modal starts here -->

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add item</h5>
    
                </div>
                <div class="modal-body">
                    <form id="addItemForm" action="" method="post">
                        <div class="form-group row">
    
                            <label class="col-sm-2 col-form-sm "><b>Item'name:</b></label>
                            <div class="col-9">
                                <input type="text" name='items' >
    
                            </div>
                            <button type="submit">Add</button>
                        </div>
    
    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- Modal ends here -->


<a href="/dashboard/addItems"><button type="button" class="btn-primary ">ADD New Item</button></a>

<div>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Category</th>
                <th scope="col">Sub Category</th>
                <th scope="col">Item</th>
                <th scope="col">Action</th>

            </tr>
        </thead>

        <tbody>

            {% set index=allData.srNo+1 %}

            {% for i in allData %}


            <td>{{index}}</td>
            <td>{{i.category}}</td>
            <td>{{i.subcategory}}</td>

            <td>
                <ul>{% for j in i.items %}


                    <li>{{j}}</li>

                    {% endfor %}
                </ul>
            </td>


            <td> <i class="fa fa-plus-square fa-2x addItem"  data-toggle="modal"  data-target="#edit" add-data="/dashboard/addMore/{{i.id}}" ></i>
                
                <i class="fa fa-trash fa-2x removeSubcategory" page="{{allData.current}}"
                    data-remove="/dashboard/delete/{{i.id}}"></i></td>
            </tr>
            {% set index=index+1 %}
            {% endfor %}


        </tbody>

    </table>
    {% if allData.count > 3  %}
    <div class="margin-top-20">
        <ul class="itemPagination">
            {% include 'pagination.html' %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}