<div class="page-footer">
    <div class="page-footer-inner">
        2020 &copy; Foody-the fast delivery of food.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
