<!DOCTYPE html>

<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
        <meta charset="utf-8" />
        <title>Login</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
                type="text/css" />
        <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
                type="text/css" />
        <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
                type="text/css" />
        <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="../../assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME STYLES -->

        <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"
                id="style_color" />
        <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
        <!-- END THEME STYLES -->
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="login">

        <!-- BEGIN LOGO -->

        <!-- END LOGO -->

        <div class="content">
                {% if message.success %}
                <div class="alert alert-success text-center" role="alert">
                        <strong>{{message.success}} </strong>
                </div>
                {% endif %}

                {% block content %}

                {% include 'login-layout.html' %}

                {% endblock %}

        </div>
        <div class="copyright">
                2020 © Food Delivery
        </div>

        <script src="../javascripts/jquery-3.4.1.min.js" type="text/javascript"></script>

        <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->

        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <!-- <script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
        <script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
        <script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
        <script src="../../assets/admin/pages/scripts/login.js" type="text/javascript"></script> -->

        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- <script>
                jQuery(document).ready(function () {
                        Metronic.init(); // init metronic core components
                        Layout.init(); // init current layout
                        Login.init();
                        Demo.init();
                });
        </script> -->


        <!-- END JAVASCRIPTS -->


        <script src="../javascripts/jquery.validate.min.js"></script>
        <script src="../javascripts/foodDelivery.js"></script>


        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=complete"></script>

</body>

<!-- END BODY -->

</html>