<!-- Erro message will be flash here -->
{% if message.invalid %}
<div class="alert alert-danger text-center" role="alert">
	<strong>{{message.invalid}} </strong>
</div>
{% endif %}

<!-- BEGIN  LOGIN FORM -->
<div id="login-form">
	<form class="login-form" action="/login" method="post">
		<h3 class="form-title">Login</h3>

		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
				placeholder="Enter email address" name="email" />
		</div>

		<div class="form-group">
			<label class="control-label">Password</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
				placeholder=" Enter password" name="password" />
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary uppercase">Login</button>

		</div>
		<div class="create-account">
			<p>
				<a href="/registerUser" class="uppercase">Create an account</a>
			</p>
		</div>


	</form>
</div>


<!-- END  LOGIN FORM -->