

    <ul class="pagination">
        <li>
            <a href="javascript:;" page=1 {% if allData.current == allData.prev %} style="display:none" {% endif %}>
                First </a>
        </li>
        <li>
            <a href="javascript:;" page='{{allData.prev}}' {% if allData.current == allData.prev %} style="display:none"
                {% endif %}>
                Prev </a>
        </li>

        {% for page in allData.pageNo %}

        <li {% if allData.current == page %} class="active" {% endif %}><a href="javascript:;"
                page={{page}}>{{page}}</a></li>

        {% endfor %}

        <li>
            <a href="javascript:;" page='{{allData.next}}' {% if allData.next-1 == allData.last  %} style="display:none"
                {% endif %}>
                Next </a>
        </li>
        <li>
            <a href="javascript:;" page={{allData.last}} {% if allData.next-1 == allData.last  %} style="display:none"
                {% endif %}>
                Last </a>
        </li>
</ul>
