{% extends 'user-dashboard.html' %}
{% block content %}


<div>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Restaurant's Name</th>
                <th scope="col">Address</th>
                
                <th scope="col">Action</th>

            </tr>
        </thead>

        <tbody>

            {% set index=allData.srNo+1 %}

            {% for i in allData %}


            <td>{{index}}</td>
            <td>{{i.address}}</td>
            
            <td> <i class="fa fa-plus-square fa-2x addItem"  data-toggle="modal"  data-target="#edit" add-data="/dashboard/addMore/{{i.id}}" ></i>
                
                <i class="fa fa-trash fa-2x removeSubcategory" page="{{allData.current}}"
                    data-remove="/dashboard/delete/{{i.id}}"></i></td>
            </tr>
            {% set index=index+1 %}
            {% endfor %}


        </tbody>

    </table>
    {% if allData.count > 3  %}
    <div class="margin-top-20">
        <ul class="itemPagination">
            {% include 'pagination.html' %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}