<!--Table starts here-->
<div>
    <a href="/dashboard/addRestaurant"><button type="button" class="btn-primary ">ADD Restaurant</button></a>
    <table class="table" id="tables">

        <thead>
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Restaurant's Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>

                <th scope="col" class="text-center">Remove</th>

            </tr>
        </thead>

        <tbody id="tableBody">

            {% set index=allData.srNo+1 %}

            {% for i in allData %}


            <td>{{index}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phoneNumber}}</td>
            <td>{{i.address}}</td>
            <td>{{i.created_at|date('y-m-d')}}</td>
            <td>{{i.updated_at|date('y-m-d')}}</td>

            <td> <i class="fa fa-trash fa-2x removeRestaurant" page="{{allData.current}}"
                    data-remove="/dashboard/delete/{{i.id}}"></i></td>


            </tr>
            {% set index=index+1 %}
            {% endfor %}

        </tbody>

    </table>
    {% if allData.count > 3  %}
    <div class="margin-top-20">
        <div class="resPagination">
            <ul>
                {% include 'pagination.html' %}
            </ul>
        </div>
    </div>

    {% endif %}
</div>