


<div class="tiles">
    <div class="tile double bg-blue-madison">
        <div class="tile-body">
            <img src="../../assets/admin/pages/media/profile/photo1.jpg" alt="">
            <h4></h4>
            <p>

            </p>

        </div>
        <div class="tile-object">

            <div>
                <button type="button" class="btn btn-success">oreder now</button>
            </div>
        </div>
    </div>

    <div class="tile double bg-blue-madison">
        <div class="tile-body">
            <img src="../../assets/admin/pages/media/profile/photo1.jpg" alt="">
            <h4></h4>
            <p>

            </p>

        </div>
        <div class="tile-object">

            <div>
                <button type="button" class="btn btn-success">oreder now</button>
            </div>
        </div>
    </div>
    <div class="tile double bg-blue-madison">
        <div class="tile-body">
            <img src="../../assets/admin/pages/media/profile/photo1.jpg" alt="">
            <h4>{{data.name}}</h4>
            <p>

            </p>

        </div>
        <div class="tile-object">

            <div>
                <button type="button" class="btn btn-success">oreder now</button>
            </div>
        </div>
    </div>
</div>

