<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>User's Dashboard </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
        type="text/css" />
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
        type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- END THEME STYLES -->

</head>

<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN HEADER -->
    {% include 'header.html' %}
    <!-- END HEADER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            {% include 'user-left-sidebar.html' %}
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">

            <div class="page-content">
                {% if message.success %}
                <div class="alert alert-success text-center" role="alert">
                    <strong>{{message.success}} </strong>
                </div>
                {% endif %}

                {% if message.invalid %}
                <div class="alert alert-danger text-center" role="alert">
                    <strong>{{message.invalid}} </strong>
                </div>
                {% endif %}

                {% block content %}
                <div class="search-bar">
                    <div class="container">
                        <form class="form-inline" action="/dashboard/searchRestaurant" method="post">
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="text" class="form-control" id="searchRest" placeholder="Enter location ">
                                <input type="hidden" name="lang" id="lng">
                                <input type="hidden" name="lat" id="ltd">
                            </div>
                            
                         
                            <button type="submit" class="btn btn-danger ">Find Restaurants</button>
                        </form>
                    </div>
                </div>

                

                {% endblock %}


            </div>

        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->

    {% include 'footer.html' %}


    <!-- BEGIN JAVASCRIPTS -->

    <script src="../javascripts/jquery-3.4.1.min.js"></script>

    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="../javascripts/user.js"></script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=complete"></script>

    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>