{% extends 'login.html' %}

{% block content %}
<!-- BEGIN REGISTRATION FORM -->
<form class="registerForm" id="userForm" action="/registerUser" method="post">
    <h3 class="form-title">User's Registeration</h3>

    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Name</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
            placeholder="Enter your full name" name="name" aria-hidden="true" />
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Email</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off"
            placeholder="Enter email-address" name="email" />
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
            placeholder=" Enter password" id="password" name="password" />
    </div>

    <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
            placeholder=" Confirm password" name="confirmPassword" />
    </div>


    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Phone number</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="number" autocomplete="off"
            placeholder="Enter phone number" name="phoneNumber" />
    </div>
    <div class="form-actions">

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Address</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                placeholder="Enter restaurant's location" id="Address" name="address" />
        </div>

        <button type="submit" class="btn btn-primary uppercase">Register</button>

    </div>

</form>
<!-- END REGISTRATION FORM -->

{% endblock %}