<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start open">
            <a href="javascript:;">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
                <li>
                    <a href="/dashboard"><i class="icon-home"></i>
                        <span>Default Dashboard</span></a>
                </li>
                <li>
                    <a href="/profile/user"><i class="fa fa-users"></i>
                        <span>Manager Users</span></a>
                </li>
               
            </ul>
        </li>
        
        
        
        
        <!-- BEGIN ANGULARJS LINK -->
        
           
    </ul>
<!-- 
    <ul class="arrow">
        <li>

           
        </li>
        <li>
            <a href="listing/user"><i class="fa fa-users"></i>
                <span>Manager Users</span></a>
        </li>

        
    </ul>
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    </ul> -->
    <!-- END SIDEBAR MENU -->
</div>