<!DOCTYPE html>
      <!-- 
      Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
      Version: 3.7.0
      Author: KeenThemes
      Website: http://www.keenthemes.com/
      Contact: support@keenthemes.com
      Follow: www.twitter.com/keenthemes
      Like: www.facebook.com/keenthemes
      Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
      License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
      -->
      <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
      <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
      <!--[if !IE]><!-->
      <html lang="en" class="no-js">
      <!--<![endif]-->
      <!-- BEGIN HEAD -->
      
      <head>
          <meta charset="utf-8" />
          <title>Metronic | Dashboard</title>
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta content="width=device-width, initial-scale=1" name="viewport" />
          <meta content="" name="description" />
          <meta content="" name="author" />
          <!-- BEGIN GLOBAL MANDATORY STYLES -->
          <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
          <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
          <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" />
          <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
          <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
          <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
          <!-- END GLOBAL MANDATORY STYLES -->
          <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
          <link href="../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
          <link href="../../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
          <link href="../../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
          <!-- END PAGE LEVEL PLUGIN STYLES -->
          <!-- BEGIN PAGE STYLES -->
          <link href="../../assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
          <!-- END PAGE STYLES -->
          <!-- BEGIN THEME STYLES -->
          <link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
          <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
          <link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
          <link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
          <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
          <!-- END THEME STYLES -->
          <link rel="shortcut icon" href="favicon.ico" />
      </head>
      <!-- END HEAD -->
      <!-- BEGIN BODY -->
      <!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
      <!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
      <!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
      <!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
      <!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
      <!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
      <!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
      <!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
      <!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
      
      <body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
          <!-- BEGIN HEADER -->
          {% include 'header.html' %}
          <!-- END HEADER -->
          <div class="clearfix">
          </div>
          <!-- BEGIN CONTAINER -->
          <div class="page-container">
              <!-- BEGIN SIDEBAR -->
              <div class="page-sidebar-wrapper">
                  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                  {% include 'left-sidebar.html' %}
              </div>
              <!-- END SIDEBAR -->
              <!-- BEGIN CONTENT -->
              <div class="page-content-wrapper">
      
                  <div class="page-content">
                      
                         {% block content %}
                        
                         <div class="container">
                             <h3>Add User</h3>
                         </div>

                         <div id="addData">
                                                
                            <form class="frms" name="frms" action="/profile/userAdded" method="post">
                                <!--Name-->
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-sm "><b>Name:</b></label>
                                <div class="col-3">
                                    <input type="text" class="form-control form-control-sm"  name="Name" id="Name"/>
                            
                                </div>
                            </div>
                
                
                            <!--Email-->
                            <div class="form-group row">
                                
                                    <label class="col-sm-2 col-form-sm "><b>Email:</b></label>
                                <div class="col-9">
                                    <input type="email" class="form-control form-control-sm" name="Email" id="Email"/>
                                </div>
                            </div>

                            <!-- Password -->

                            <div class="form-group row">
                                    
                                <label class="col-sm-2 col-form-sm "><b>Password:</b></label>
                            <div class="col-3">
                                <input type="password" class="form-control form-control-sm" name="Password" id="Password"/>
                        
                            </div>
                        </div>
                            
                            
                            <!--Phone number-->
                            <div class="form-group row">
                                
                                    <label class="col-sm-2 col-form-sm "><b>Phone Number:</b></label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm"  name="phoneNum" id="phoneNum"/>
                            
                                </div>
                            </div>
                
                            <!--Address-->
                            <div class="form-group row">
                                
                                    <label class="col-sm-2 col-form-sm "><b>Address:</b></label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="Address" id="Address" onclick="fillInAddress()"/>
                            
                                </div>
                            </div>
                
                            
                            <table id="address">
                                    <tr>
                                    <th>Street address</th>
                                    <td class="slimField"><input class="field" id="street_number" disabled="true"/></td>
                                    <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"/></td>
                                    </tr>
                                    <tr>
                                    <th>City</th>
                                    <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
                                    </tr>
                                    <tr>
                                        <th>State</th>
                                    <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"/></td>
                                    <th>Zip Code</th>
                                    <td class="wideField"><input class="field" id="postal_code" disabled="true"/></td>
                                    </tr>
                                    <tr>
                                    <th>Country</th>
                                    <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"/></td>
                                    </tr>
                            </table>
                
                        <!--ADD DATA Button-->
                            <div class="btn">
                                <div class="container-fluid">
                               <button type="submit" class="btn btn-primary btn-sm" id="addUser">ADD DATA</button>
                            
                                </div>
                            </div>
                            
                
                        </form>
                
                    </div>

                          {% endblock %}
                       
                      
                  </div>
                  
              </div>
              <!-- END CONTENT -->
          </div>
          <!-- END CONTAINER -->
          <!-- BEGIN FOOTER -->
          {% include 'footer.html' %}
          <!-- END FOOTER -->
          <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
          <!-- BEGIN CORE PLUGINS -->
          <!--[if lt IE 9]>
      <script src="../../assets/global/plugins/respond.min.js"></script>
      <script src="../../assets/global/plugins/excanvas.min.js"></script> 
      <![endif]-->
          <script src="../javascripts/addUser.js"></script>
          <!-- <script src="../../myapp/javascripts/jquery.validate.js"></script> -->
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=complete">
          </script>
          <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
          <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
          <script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
          <!-- END CORE PLUGINS -->
          <!-- BEGIN PAGE LEVEL PLUGINS -->
          <script src="../../assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
          <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
          <script src="../../assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
          <script src="../../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
          <!-- END PAGE LEVEL PLUGINS -->
          <!-- BEGIN PAGE LEVEL SCRIPTS -->
          <script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
          <script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
          <script src="../../assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
          <script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
          <script src="../../assets/admin/pages/scripts/index.js" type="text/javascript"></script>
          <script src="../../assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
          
          <!-- END PAGE LEVEL SCRIPTS -->
          <script>
              jQuery(document).ready(function() {
                  Metronic.init(); // init metronic core componets
                  Layout.init(); // init layout
                  QuickSidebar.init(); // init quick sidebar
                  Demo.init(); // init demo features
                  Index.init();
                  Index.initDashboardDaterange();
                  Index.initJQVMAP(); // init index page's custom scripts
                  Index.initCalendar(); // init index page's custom scripts
                  Index.initCharts(); // init index page's custom scripts
                  Index.initChat();
                  Index.initMiniCharts();
                  Tasks.initDashboardWidget();
              });
          </script>
          <!-- END JAVASCRIPTS -->
      </body>
      <!-- END BODY -->
      
      </html>