<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <label>{{allData.count}}</label>
                </div>
                <div class="desc">
                    users
                </div>
            </div>
            <a class="more" href="javascript:;">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>


<!-- <div>
    <form action='/dashboard' method="POST" enctype="multipart/form-data">
        <div class="form-group row">

            <label class="col-sm-2 col-form-sm "><b>Import File:</b></label>
           
                <input type="file" name="csv" />
                
          
        </div>
        <button type="submit" class="btn btn-success">Import</button>
    </form>

</div> -->