{% extends "login.html" %}

{% block content %}
<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forgetForm" action="/sendForgotmail" method="post">
	<h3>Forget Password ?</h3>
	<p>
		Enter your e-mail address below to reset your password.
	</p>
	<div class="form-group">
		<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email"
			name="email" />
	</div>
	<div class="form-actions">
		<a href="/enterPass" ><button type="button" id="back-btn" class="btn btn-default">Back</button></a>
		<button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
	</div>
</form>
<!-- END FORGOT PASSWORD FORM -->
{% endblock %}