

<!-- Modal of view -->


<div class="modal fade" id="View" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Name:</b></label>
                        <div class="col-9">
                            <label id="nameData"></label>

                        </div>
                    </div>


                    <!--Email-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Email:</b></label>
                        <div class="col-9">
                            <label id="emailData"></label>
                        </div>
                    </div>


                    <!--Phone number-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Phone Number:</b></label>
                        <div class="col-9">
                            <label id="phoneData"></label>

                        </div>
                    </div>

                    <!--Address-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Address:</b></label>
                        <div class="col-9">
                            <label id="addressData"></label>
                        </div>
                    </div>

                    <!--salary-->
                    <!-- <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Salary:</b></label>
                        <div class="col-9">
                            <label id="salaryData"></label>
                        </div>

                    </div> -->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>User Type:</b></label>
                        <div class="col-9">
                            <label id="userType"></label>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Status:</b></label>
                        <div class="col-9">
                            <label id="status"></label>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal ends here -->



<!--Table starts here-->
    
    <a href="/profile/addUser"><button type="button" id="addUser" class="btn-primary ">ADD USER</button></a>
    <a href="/profile/createPdf"><button type="button" id="createPdf" class="btn btn-success">Create Pdf</button></a>
    <a href="/profile/exportCsv"><button type="button" id="Export" class="btn btn-success">Export</button></a>
  
       
      <form id="csvSubmit" action="/profile/importCsv" method="action" enctype="multipart/form-data">
    <label for="files" class="btn btn-success">Import</label>
        <input id="files" style="visibility:hidden;" name="csvFile" type="file" accept=".csv">
    </form>
    <div id="scrollBar" style="height: 200px" srNo="{{allData.pageNo}}"> 
    <table class="table" id="tables">

        <thead>
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>

                <th scope="col">User Type</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col">Status</th>
                <th scope="col" colspan="3" class="text-center">Action</th>

            </tr>
        </thead>
     
<tbody id="tableBody">
    
    
        
    {% include 'table.html' %}

    </tbody>


</table>
</div>
        

