
{% if message.invalid %}
<div class="alert alert-danger text-center" role="alert">
        <strong>{{message.invalid}} </strong>
</div>            
{% endif %}


<!-- BEGIN LOGIN FORM -->
<div id="login-form" >
<form class="login-form"  >
   
    <h3 class="form-title">Sign In</h3>
	
	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label visible-ie8 visible-ie9">Username</label>
		<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"  placeholder="Enter email address" name="disEmail" id="disEmail"/>
	</div>

	<div class="form-actions">
			 <button type="button" class="btn btn-success uppercase" id="loginForm">Next</button> 
            
          
			<a href="/forgotPassword" id="forget-password" class="forget-password">Forgot Password?</a>
		</div>
	<div class="create-account">
			<p>
				<a href="/register"  class="uppercase">Create an account</a>
			</p>
		</div>	
</form>
</div>

<!-- END LOGIN FORM -->


<div id="enterPass-form" style="display: none">

<form class="enterPass-form"  action="/login"  method="post">
   
    <h3 class="form-title">Sign In</h3>
	
	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label visible-ie8 visible-ie9">Username</label>
		<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Enter email address" name="Email" id="Email"  readonly/>
	</div>
	<div class="form-group">
		<label class="control-label visible-ie8 visible-ie9">Password</label>
		<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" id="password"/>
	</div>
	<div class="form-actions">
			<button type="submit" class="btn btn-success uppercase" id="loginUser">Login</button>
                     
			<a href="/forgotPassword" id="forget-password" class="forget-password">Forgot Password?</a>
		</div>
	
</form>

</div>