{% if message.invalid %}
<div class="alert alert-danger text-center" role="alert">
        <strong>{{message.invalid}} </strong>
</div>            
{% endif %}


<!-- BEGIN LOGIN FORM -->
<form class="login-form" action="/login" method="post">
   
    <h3 class="form-title">Sign In</h3>
	
	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label visible-ie8 visible-ie9">Email</label>
		<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"  name="Email" id='email' disabled='true'/>
	</div>
	<div class="form-group">
		<label class="control-label visible-ie8 visible-ie9">Password</label>
		<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" id="password"/>
	</div>
	<div class="form-actions">
			<button type="submit" class="btn btn-success uppercase">Login</button>
                    
			<a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
		</div>

</form>
<!-- END LOGIN FORM -->
