{% extends 'login.html' %}

{% block content %}
<!-- BEGIN REGISTRATION FORM -->
<form class="registerForm" action="/register" method="post">
		<h3 class="form-title">Sign Up</h3>
		
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Name</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Enter full name" name="Name" aria-hidden="true"/>
        </div>
        <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="Enter email-address" name="Email"/>
        </div>
        


		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Phone number</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="number" autocomplete="off" placeholder="Enter phone number" name="phoneNum"/>
		</div>
		<div class="form-actions">

        <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Address</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Enter your full Address" id="Address" name="Address"/>
		</div>
                
            <button type="submit" class="btn btn-success uppercase">Register</button>
           			
		</div>
				
	</form>
	<!-- END REGISTRATION FORM -->
    
	{% endblock %}
