
        
        {% set index=allData.srNo+1 %}
        
        {% for i in allData %}
        
        <tr>
            <td id ="serialNo" srNo="{{allData.srNo}}">{{index}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.phoneNum}}</td>
            <td>{{i.Address}}</td>
          
            <td>{{i.userType}}</td>
            <td>{{i.created_at|date('y-m-d')}}</td>
            <td>{{i.updated_at|date('y-m-d')}}</td>
  
            {% if i.status==1 %}
            <td><i class="fa fa-user fa-2x statusChange"  style="color: green" id="idd" status="0" status-change='/profile/status/{{i.id}}'></i></td>

            {%  else %}
            <td><i class="fa fa-user fa-2x statusChange " style="color:  red"  status="1" status-change='/profile/status/{{i.id}}'></i></td>
            {% endif %}

            <td>              
                <i class="fa fa-2x fa-eye show" data-show='/profile/show/{{i.id}}' data-toggle="modal"  data-target="#View"></i></td>
                                
               <td> <i class="fa fa-trash fa-2x removeUser" data-remove="/profile/delete/{{i.id}}"></i></td>
           <td>     <a href="/profile/edits/{{i.id}}" ><i class="fa fa-edit editData fa-2x"></i> </a></td>
        </tr>

        {% set index=index+1 %}
        {% endfor %}

        
