<div id="tabledata ">
    <a href="/listing/add"><button type="button" id="addUser" class="btn-primary ">ADD USER</button></a>
    <table class="table" id="tables">
        <thead class="thead-light">
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <!-- <th scope="col">Salary</th> -->
                <th scope="col">User Type</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>

            {% set index=1 %}
            {% for i in allData %}
            <tr>
                <td>{{index}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.phoneNum}}</td>
                <td>{{i.Address}}</td>
                <!-- <td>{{i.salaryDatum.salary}}</td> -->
                <td>{{i.userType}}</td>
                <td><i class="fa fa-user fa-2x"></i></td>

                <td>
                   
                    <i class="fa fa-2x fa-eye show" data-show='/listing/show/{{i.id}}' data-toggle="modal"  data-target="#View"></i><br>
                        
                    
                    <i class="fa fa-trash fa-2x removeUser" data-remove="/listing/delete/{{i.id}}"></i><br>
                    <a href="/listing/edits/{{i.id}}" ><i class="fa fa-edit editData fa-2x"></i> </a><br>
            </tr>

            {% set index=index+1 %}
            {% endfor %}

        </tbody>

    </table>
</div>



<!-- Modal of view -->


<div class="modal fade" id="View" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Name:</b></label>
                        <div class="col-9">
                            <label id="nameData"></label>

                        </div>
                    </div>


                    <!--Email-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Email:</b></label>
                        <div class="col-9">
                            <label id="emailData"></label>
                        </div>
                    </div>


                    <!--Phone number-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Phone Number:</b></label>
                        <div class="col-9">
                            <label id="phoneData"></label>

                        </div>
                    </div>

                    <!--Address-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Address:</b></label>
                        <div class="col-9">
                            <label id="addressData"></label>
                        </div>
                        </div>

                    <!--salary-->
                    <!-- <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Salary:</b></label>
                        <div class="col-9">
                            <label id="salaryData"></label>
                        </div>

                    </div> -->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>User Type:</b></label>
                        <div class="col-9">
                            <label id="userType"></label>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Status:</b></label>
                        <div class="col-9">
                            <label id="status"></label>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>