


<!-- Modal of view -->


<div class="modal fade" id="View" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Name:</b></label>
                        <div class="col-9">
                            <label id="nameData"></label>

                        </div>
                    </div>


                    <!--Email-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Email:</b></label>
                        <div class="col-9">
                            <label id="emailData"></label>
                        </div>
                    </div>


                    <!--Phone number-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Phone Number:</b></label>
                        <div class="col-9">
                            <label id="phoneData"></label>

                        </div>
                    </div>

                    <!--Address-->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Address:</b></label>
                        <div class="col-9">
                            <label id="addressData"></label>
                        </div>
                    </div>

                    <!--salary-->
                    <!-- <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Salary:</b></label>
                        <div class="col-9">
                            <label id="salaryData"></label>
                        </div>

                    </div> -->
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>User Type:</b></label>
                        <div class="col-9">
                            <label id="userType"></label>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-sm "><b>Status:</b></label>
                        <div class="col-9">
                            <label id="status"></label>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div id="tabledata">
    
      
   
       
         
       
            
        {% include 'table.html' %}
    <!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"  id="prevList" ><a href="/profile/prevList" >Prev</a></li>
      <li class="page-item" id="pageNo"><a  href="#">{{allData.pageNo}}</a></li>
      <li class="page-item" id="nextList"><a href="/profile/user" id="nextList">Next</a></li>
    </ul>
  </nav> -->
</div>


