
<style>
table {
  border-collapse: collapse;
  
}

table, th, td {
  border: 1px solid black;
  
}
</style>


<div id="tabledata ">
   
    <table  class="table" id="tables" >
        <thead>
            <tr >
                <th scope="col">Sr no.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                
                <th scope="col">User Type</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
               
                       
            </tr>
        </thead>
        <tbody>

            {% set index=1 %}
            {% for i in allData %}
            <tr>
                <td>{{index}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.phoneNum}}</td>
                <td>{{i.Address}}</td>
              
                <td>{{i.userType}}</td>
               

               
            </tr>

            {% set index=index+1 %}
            {% endfor %}

        </tbody>

    </table>
</div>
