<a href="/profile/addUser"><button type="button" id="addUser" class="btn-primary ">ADD USER</button></a>
    <a href="/profile/createPdf"><button type="button" id="createPdf" class="btn btn-success">Create Pdf</button></a>
    <button type="button" id="Export" class="btn btn-success">Export</button>
    <button type="button" id="import" class="btn btn-success">Import</button>
    <table class="table" id="tables">

        <thead>
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>

                <th scope="col">User Type</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col">Status</th>
                <th scope="col" colspan="3" class="text-center">Action</th>

            </tr>
        </thead>


<tbody>
         
        {% set index=1 %}
        
        {% for i in allData %}

        <tr>
            <td>{{index}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.phoneNum}}</td>
            <td>{{i.Address}}</td>
          
            <td>{{i.userType}}</td>
            <td>{{i.created_at|date('y-m-d')}}</td>
            <td>{{i.updated_at|date('y-m-d')}}</td>
            {% if i.status==1 %}
            <td><i class="fa fa-user fa-2x statusChange" style="color: green" status="0" pages={{allData.pageNo}} status-change='/profile/status/{{i.id}}'></i></td>

            {%  else %}
            <td><i class="fa fa-user fa-2x statusChange" style="color: red" status="1" pages={{allData.pageNo}} status-change='/profile/status/{{i.id}}'></i></td>
            {% endif %}

            <td>
               
                <i class="fa fa-2x fa-eye show" data-show='/profile/show/{{i.id}}' data-toggle="modal"  data-target="#View"></i></td>
                                
               <td> <i class="fa fa-trash fa-2x removeUser" pages={{allData.pageNo}} data-remove="/profile/delete/{{i.id}}"></i></td>
           <td>     <a href="/profile/edits/{{i.id}}" ><i class="fa fa-edit editData fa-2x"></i> </a></td>
        </tr>

        {% set index=index+1 %}
        {% endfor %}
       
            
    </tbody>
</table>

{% if allData.count > 3  %}
<div class="margin-top-20">
    <ul class="pagination">
       
        <li>
            <a href="javascript:;" page=1 {% if allData.current == allData.prev %} style="display:none" {% endif %}>
               First </a>
        </li>
        <li>
            <a href="javascript:;" page='{{allData.prev}}' {% if allData.current == allData.prev %} style="display:none" {% endif %}>
               Prev </a>
        </li>
         
        {% for page in allData.pageNo %}
   
        <li {% if allData.current == page %} class="active" {% endif %}><a href="javascript:;" page={{page}}>{{page}}</a></li>
            
        {% endfor %}
        
        <li>
            <a href="javascript:;" page='{{allData.next}}' {% if allData.next-1 == allData.last  %} style="display:none" {% endif %}>
               Next </a>
        </li>
        <li>
            <a href="javascript:;" page={{allData.last}} {% if allData.next-1 == allData.last  %} style="display:none" {% endif %}>
               Last </a>
        </li>
    </ul>
</div>
{% endif %}


    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascripts/addUser.js"></script>